@model IEnumerable<SimuladorTienda.Models.tbproducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbcategoria.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbcategoria.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idp }) |
            @Html.ActionLink("Details", "Details", new { id=item.idp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idp })
        </td>
    </tr>
}

</table>
