@model IEnumerable<SimuladorTienda.Models.tbproducto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Productos</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        Nueva categoría
    </a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Categoría
            </th>
            <th>
                Costo
            </th>
            <th>
                Precio
            </th>
            <th>
                Preferencia
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbcategoria.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preferencia)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id=item.idp })" class="btn btn-primary btn-sm"><span class="fa fa-pencil"></span></a>
                    <a href="@Url.Action("Delete", new { id=item.idp })" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>

</table>
