@model IEnumerable<SimuladorTienda.Models.tbgastos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gastos</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        Nuevo Gasto
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Gasto
            </th>
            <th>
                Monto
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.monto)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id=item.id })" class="btn btn-primary btn-sm"><span class="fa fa-pencil"></span></a>
                    <a href="@Url.Action("Delete", new { id=item.id })" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>

</table>
