@model IEnumerable<SimuladorTienda.Models.tbcategoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categorias</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        Nueva categoría
    </a>
</p>
<table class="table table-sm">
    <tr>
        <th>
            Nombre de categoría
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td class="align-middle">
            @((item.estado == true) ? "Activo" : "Inactivo")
        </td>
        <td class="align-middle">
            <a href="@Url.Action("Edit", new { id=item.idcat })" class="btn btn-primary btn-sm"><span class="fa fa-pencil"></span></a>
            <a href="@Url.Action("Delete", new { id=item.idcat })" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
        </td>
    </tr>
}

</table>
